<div class="center">
  <h1 class="welcome-text mb-5">
    Welcome.
  </h1>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field mb-3">
      <%= f.label :username %><br />
      <%= f.text_field :username, autofocus: true, autocomplete: "Username", class: "input input--underlined" %>
    </div>

      <div class="field mb-3">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, autofocus: true, autocomplete: "First Name", class: "input input--underlined" %>
    </div>

      <div class="field mb-3">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name, autofocus: true, autocomplete: "Last Name", class: "input input--underlined" %>
    </div>

    <div class="field mb-3">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input--underlined" %>
    </div>

    <div class="field mb-3">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "input input--underlined" %>
    </div>

    <div class="field mb-3">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input input--underlined" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-dark" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
