<%= render "customers/orders/checkout_modal", order_items: @order_items %>
<%= render "customers/orders/pay_order" %>
<%= render "customers/orders/handlebars/order_item" %>

<div class="mt-5">
  <h3 class="mb-4"><%= @customer.name %> | Order - <%= @order.name %></h3>
  <div class="row">
    <div class="col-md-8">
      <div class = "buttons p-2">
        <% @categories.each do |category| %>
          <%= link_to category[1], customer_order_path(category_id: category[0]),
            class: "btn btn-dark", data: { turbo_stream: true } %>
        <% end %>
      </div>
      <%= render "customers/orders/products", products: @products %>
    </div>
    <div class="col-md-2">
      <div class="items-sidebar">
        <div class="top-section">
          <!-- Content before the scrollable section -->
        </div>
        <div class="scrollable-section">
          <!-- Scrollable content goes here -->
          <h5>In Cart:</h5>
          <div id="order_item">
            <% if @order_items.exists? %>
              <%= render 'customers/orders/order_item', locals: { grouped_similar_items_in_order: @grouped_similar_items_in_order } %>
            <% else %>
              <p>You currently have no items in this order.</p>
            <% end %>
          </div>
          <!-- Add more order items as needed -->
        </div>
        <div class="bottom-section">
          <!-- Content after the scrollable section -->
          <div id="order_total">
            <%= render 'customers/orders/total_amount', locals: { total_order_amount: @total_order_amount } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
