<h3 class="underline">Add Items to your Order</h3>
<%
=begin%>
 <%= link_to "New Item", new_customer_order_order_item_path(@customer, @order), class: "btn btn-dark mb-3" %> 
<%
=end%>
<div class="container mt-5">
    <h1 class="mb-4">Product Menu</h1>
    <div class = "row">
    <% @allProducts.each do |product| %>
      <div class="col-md-2 mb-3">
        <div class="card">
          <img src="<%= main_app.url_for(product.image.variant(:thumb)) %>" class="card-img-top" alt="<%= product.name %>">
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text"><span>Pcs:</span><%= product.quantity %></p>
            <p class="card-text"><span>Price: ₱</span><%= product.price %></p>
            <!-- Add other product details as needed -->
            <%= form_with(model: [@customer, @order, OrderItem.new], url: customer_order_order_items_path(@customer,@order), local: true) do |form| %>
                <%= form.hidden_field :product_id, value: product.id %>
                <%= form.submit 'Add to Order', class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
</div>

<%
=begin%>
 <% orders.each do |order| %>
  <div class="unit text-left">
    <div class="product-details">
        <%= order.name %>
      <% end %>
    </div>
    <div class="unit__actions">
      <%= link_to "Edit Order Items", customer_order_path(customer, order), class: "btn btn-warning" %>
    </div>
  </div>
<% end %> 
<%
=end%>


<% if @order_items.exists? %>
    <% @order_items.each do |o| %>
      <div class="unit text-left">
        <div class = "order-details">
          <%= o.product.name %> - <%= o.product.quantity %>
        </div>
      </div>
    <% end %>
<% else %>  
    <p>You currently have no items in this order.</p>
<% end %>

<%
=begin%>
 <%= render "order_items/menu", products: @products, order: @order, customer: @customer %> 
<%
=end%>
