<%= render "customers/orders/checkout_modal", order_items: @order_items %>
<%= render "customers/orders/pay_order" %>
<%= render "customers/orders/handlebars/order_item" %>

<div class="mt-5">
  <h3 class="mb-4"><%= @customer.name %> | Order - <%= @order.name %></h3>
  <div class="row">
    <div class="col-md-8">
      <div class = "buttons pb-2">
        <% @categories.each do |category| %>
          <button type="button" class="btn btn-dark" data-toggle="button" aria-pressed="false" autocomplete="off">
            <%= link_to category.name, customer_order_path(category_id: category.id),{:style=>"color:#fff;text-decoration: none;"} %>
          </button>
        <% end %>
      </div>
      <% if @allProducts.exists? %>
        <%= render "customers/orders/product", products: @allProducts %>
      <% else %>
        <dd>There are currently no products in stock.</dd>
      <% end %>
    </div>
    <div class="col-md-2">
      <div class="items-sidebar">
        <div class="top-section">
          <!-- Content before the scrollable section -->
        </div>
        <div class="scrollable-section">
          <!-- Scrollable content goes here -->
          <h5>In Cart:</h5>
          <div id="order_item">
            <% if @order_items.exists? %>
              <%= render 'customers/orders/order_item', locals: { grouped_similar_items_in_order: @grouped_similar_items_in_order } %>
            <% else %>
              <p>You currently have no items in this order.</p>
            <% end %>
          </div>
          <!-- Add more order items as needed -->
        </div>
        <div class="bottom-section">
          <!-- Content after the scrollable section -->
          <div id="order_total">
            <%= render 'customers/orders/total_amount', locals: { total_order_amount: @total_order_amount } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
