<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="unit form">
        <% if stock.errors.any? %>
          <div class="error-message">
            <%= stock.errors.full_messages.to_sentence.capitalize %>
          </div>
        <% end %>
        <%= form_with(model: stock, class: "w-100", data: { turbo: false}) do |form| %>
          <div class="form__group">
            <dt>
              <%= form.label :quantity %>
            </dt>
            <%= form.number_field :quantity, value: stock.quantity, step: :any, class: "form__input" %>
          </div>
          <div class="form__group mt-4">
            <%= form.button "Submit", class: "btn btn-dark w-100", data: { turbo: false }, id: "stock-submit" %>
            <%= link_to "Cancel", stocks_path, class:"btn btn-warning w-100 mt-1" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
