<%= title "Stocks" %>

<div class="py-3 text-center">
  <% @categories.each do |category_id, category_name| %>
    <%= link_to category_name, stocks_path(id: category_id), class: "mx-1 btn btn-sm btn-outline-dark"%>
  <% end %>
  <%= link_to "Clear Filters", stocks_path, class: "mx-1 btn btn-sm btn-outline-secondary" %>
</div>

<%= turbo_frame_tag "stocks" do %>
  <div class="items-container" id= "stocks">
    <%= render "stocks", stocks: @stocks %>
  </div>
<% end %>