<nav class="navbar bg-light">
  <div class="container-fluid">
    <%= link_to root_path, class: 'navbar-brand d-flex' do %>
      <%= bootstrap_icon "robot", width: '2rem', height: '2rem', fill: "black", style: 'margin-right: 8px;' %>
      <strong>Point of Sales</strong>
    <% end %>
    <div class="d-flex">
      <% if user_signed_in? %>
        <%= button_to 'Log out', destroy_user_session_path, class: 'btn btn-dark', method: :delete %>
      <% else %>
        <%= button_to 'Log in', new_user_session_path, class: 'btn btn-dark', method: :get%>
        <%= button_to 'Sign up', new_user_registration_path, class: 'btn btn-light ml-3', method: :get %>
      <% end %>
    </div>
  </div>
</nav>
