<%= render "shared/sidebar_icons" %>
<div class="d-flex flex-column flex-shrink-0" style="width: 7.5rem;">
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item">
      <a href="<%= root_path %>" class="nav-link active py-3 border-bottom" aria-current="page" title="Home"
        data-bs-toggle="tooltip" data-bs-placement="right">
        <svg class="bi" width="16" height="16" role="img" aria-label="Home">
          <use xlink:href="#home" />
        </svg>
      </a>
    </li>
    <% if policy(Category).index? %>
      <li>
        <a href="<%= categories_path %>" class="nav-link py-3 border-bottom" title="Categories" data-bs-toggle="tooltip"
          data-bs-placement="right">
          <i class="fas fa-fw fa-box"></i>
          <p>Categories</p>
        </a>
      </li>
    <% end %>
    <% if policy(Product).index? %>
      <li>
        <a href="<%= products_path %>" class="nav-link py-3 border-bottom" title="Products" data-bs-toggle="tooltip"
          data-bs-placement="right">
          <svg class="bi" width="16" height="16" role="img" aria-label="Products">
            <use xlink:href="#grid" />
          </svg>
          <p>Products</p>
        </a>
      </li>
    <% end %>
    <% if policy(:customer_order).tables? %>
      <li>
        <a href="<%= customer_orders_tables_path %>" class="nav-link py-3 border-bottom" title="Table Orders" data-bs-toggle="tooltip"
          data-bs-placement="right">
          <svg class="bi" width="16" height="16" role="img" aria-label="Table Orders">
            <use xlink:href="#table" />
          </svg>
          <p>Tables</p>
        </a>
      </li>
    <% end %>
    <% if policy(:customer_order).individual_orders? %>
      <li>
        <a href="<%= customer_orders_individual_orders_path %>" class="nav-link py-3 border-bottom" title="Customer Orders" data-bs-toggle="tooltip"
          data-bs-placement="right">
          <svg class="bi" width="16" height="16" role="img" aria-label="Customer Orders">
            <use xlink:href="#people-circle" />
          </svg>
          Customer Orders
        </a>
      </li>
    <% end %>
    <% if policy(Stock).index? %>
      <li>
        <a href="<%= stocks_path %>" class="nav-link py-3 border-bottom" title="Stocks" data-bs-toggle="tooltip"
          data-bs-placement="right">
          <svg class="bi" width="16" height="16" role="img" aria-label="Stocks">
            <use xlink:href="#collection" />
          </svg>
          <p>Stocks</p>
        </a>
      </li>
    <% end %>
    <% if policy(Stock).index? %>
      <li>
        <a href="<%= stock_versions_path %>" class="nav-link py-3 border-bottom" title="Stocks" data-bs-toggle="tooltip"
          data-bs-placement="right">
          <svg class="bi" width="16" height="16" role="img" aria-label="Stocks">
            <use xlink:href="#cpu-fill" />
          </svg>
          <p>Stock Logs</p>
        </a>
      </li>
    <% end %>
    <% if policy(:chart).index? %>
      <li>
        <a href="<%= charts_path %>" class="nav-link py-3 border-bottom" title="Charts" data-bs-toggle="tooltip"
          data-bs-placement="right">
          <i class="fas fa-fw fa-chart-area"></i>
          <p>Charts</p>
        </a>
      </li>
    <% end %>
    <% if policy(:chart).index? %>
      <li>
        <a href="<%= sales_path %>" class="nav-link py-3 border-bottom" title="Sales" data-bs-toggle="tooltip"
          data-bs-placement="right">
          <i class="fas fa-fw fa-money-bill"></i>
          <p>Sales</p>
        </a>
      </li>
    <% end %>
  </ul>
</div>
