
<% if user_signed_in? %>

  <div id="nav-bar">

  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <%= link_to root_path, id: "nav-title" do %>
      <div class="sidebar-brand d-flex align-items-center justify-content-center">
        <div class="sidebar-brand-text mx-3"><%= current_user.email %></div>
      </div>
    <% end %>
    <hr class="sidebar-divider my-2">
    <!-- Heading -->
    <div class="sidebar-heading">
      Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <div class="nav-link collapsed">
        <%= link_to categories_path do %>
          <i class="fas fa-fw fa-box"></i>
          <span>Categories</span>
        <% end %>
      </div>
    </li>
    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
      <div class="nav-link collapsed">
        <%= link_to products_path do %>
          <i class="fas fa-fw fa-box"></i>
          <span>Products</span>
        <% end %>
      </div>
    </li>

    <li class="nav-item">
      <div class="nav-link collapsed">
        <%= link_to customer_orders_tables_path do %>
          <i class="fas fa-user-plus"></i>
          <span>Customer Tables</span>
        <% end %>
      </div>
    </li>

    <li class="nav-item">
      <div class="nav-link collapsed">
        <%= link_to customer_orders_individual_orders_path do %>
          <i class="fas fa-user-plus"></i>
          <span>Individual Customer</span>
        <% end %>
      </div>
    </li>
    <li class="nav-item">
      <div class="nav-link collapsed">
        <%= link_to stocks_path do %>
          <i class="fas fa-clipboard"></i>
          <span>Stocks</span>
        <% end %>
      </div>
    </li>
    <li class="nav-item">
      <div class="nav-link collapsed">
        <%= link_to stock_versions_path do %>
          <i class="fas fa-clipboard"></i>
          <span>Stocks History</span>
        <% end %>
      </div>
    </li>
    <li class="nav-item">
      <div class="nav-link collapsed">
        <%= link_to charts_path do %>
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Charts</span>
        <% end %>
      </div>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Nav Item - Charts -->

    <!-- Nav Item - Tables -->
    <li class="nav-item hidden">
      <a class="nav-link" href="tables.html">
        <i class="fas fa-fw fa-table"></i>
        <span>Tables</span>
      </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
  </ul>
  <!-- End of Sidebar -->
  </div>



  <% end %>