<h1><%= @category.name %> </h1>
<h2> Products </h2>

<% @product.each do |c| %>
   <div style= "font-size: 20px; ">
   <li> <%= c.name %> <%= c.quantity %> <%= c.price %></li>

   <% end %>
   </div>
   <div class ='show_div' style= 'display: flex;'>
    <%= button_to 'Add Product', add_product_path, class: 'btn btn-dark', method: :get %>
    </div>