<%= form_with model: @customer do |form| %>
  <div class="unit form">
    <% if category.errors.any? %>
      <div class="error-message">
        <%= category.errors.full_messages.to_sentence.capitalize %>
      </div>
    <% end %>

    <%= form.label :name %>
    <%= form.text_field :name %>

    <%= form.label :role %>
    <%= form.select :role, options_for_select(['individual', 'table']) %>
    <div class="unit-actions button-unit" style = "padding: 10px;">
      <%= form.submit class: 'btn btn-dark' %>
      <%= link_to "Cancel", customer_orders_tables_path, class:"btn btn-warning" %>
    </div>
  </div>
<% end %>

