<tr id="<%= dom_id(stock) %>">
  <th><%= stock.id %></th>
  <td><h5><%= link_to stock.product&.name, stock_version_path(stock) %></h5></td>
  <td><%= stock.quantity %></td>
  <td><%= stock.versions.count %></td>
</tr>
