<h4><%= @stock.product.name %>'s History</h4>

<%= form_with(url: stock_version_path, method: :get, data: { controller: "flatpickr", flatpickr_target: "form", turbo: true }) do |form| %>
  <div class="row mb-5">
    <div class="offset-md-6 col-md-3">
      <div class="input-group">
        <%= form.datetime_field :start_time, class: "flatpickr_start_time form-control", placeholder: "Select start date" %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="input-group">
        <%= form.datetime_field :end_time, class: "flatpickr_end_time form-control", placeholder: "Select end date", data: { action: "change->flatpickr#search" } %>
        <%= form.submit "Submit", class: "btn btn-sm btn-dark" %>
        <%= button_to "Clear Filters", stock_version_path, data: { turbo_frame: "_top" }, class: "btn btn-sm btn-warning rounded" %>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="unit">
    <div>
      <h6>
        <span class="badge bg-success">CURRENT VALUE</span>
        <b><%= @stock.updated_at.strftime('%l:%M %p on %a %b %-d, %Y') %></b>
      </h6>
      <dt>Quantity: <%= @stock.quantity %></dt>
    </div>
  </div>
  <% @versions.each do |version| %>
    <% next if version.event == 'update' && version.object&.dig('quantity').blank? %>
    <div class="unit">
      <div>
        <h6>
          <%= event_badge(version.event) %>
          <b>
            <%= version.created_at.strftime('%l:%M %p on %a %b %-d, %Y') %>
          </b>
        </h6>
        <% if quantity = version.object&.dig("quantity") %>
          <dt>Quantity: <%= quantity %></dt>
        <% end %>
        <% if version.whodunnit %>
          <dd>Actor: <%= whodunnit_user(version.whodunnit)&.email %></dd>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
