<h4><%= @stock.product.name %>'s History</h4>

<div class="row">
  <div class="unit">
    <div>
      <h6>
        <span class="badge bg-dark">CURRENT</span>
        <b><%= @stock.updated_at.strftime('%l:%M%P on %d/%m/%Y') %></b>
      </h6>
      <dt>Quantity: <%= @stock.quantity %></dt>
    </div>
  </div>
  <% @versions.each do |version| %>
    <% next if version.event == 'update' && version.object&.dig('quantity').blank? %>
    <div class="unit">
      <div>
        <h6>
          <%= event_badge(version.event) %>
          <b>
            <%= version.created_at.strftime('%l:%M%P on %d/%m/%Y') %>
          </b>
        </h6>
        <dt>Quantity: <%= version.object&.dig("quantity") %></dt>
        <dd>Actor: <%= whodunnit_user(version.whodunnit)&.email %></dd>
      </div>
    </div>
  <% end %>
</div>
