<%= link_to sanitize("&larr; Back to Categories"), categories_path %>

<h2 class="page-title"><strong><%= @category.name %></strong></h2>

<%= link_to new_category_product_path(@category), class: "btn btn-dark mb-3",
      data: { turbo_frame: dom_id(@category.products.new) } do %>
  <%= bootstrap_icon "plus-circle", fill: "black", style: "margin-right:0.5rem;" %> New Product
<% end %>

<%= turbo_frame_tag dom_id(@category.products.new) %>

<%= turbo_frame_tag "products" do %>
  <div class="items-container">
    <%= render @products %>
  </div>
<% end %>
