<h1><%= @category.name %></h1>
<%= link_to "Edit Category", edit_category_path %>

<h6><%= @category.name %>'s Products:</h6>
<ul>
  <% @category.products.each do |product| %>
    <li><%=product.name %> | <%= product.quantity %> | <%= product.price %> | <%= link_to 'Edit Product', edit_category_product_path(@category, product) %></li>
  <% end %>
</ul>
<h2>Add a product:</h2>
<%= render 'productform' %>