<div class="unit form">
  <% if @product.new_record? %>
    <%= form_with model: [ @category, @category.products.build ] do |form| %>
      <div class="form__group">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form__input", value: product&.name %>
      </div>

      <div class="form__group">
        <%= form.label :quantity %>
        <%= form.number_field :quantity, class: "form__input", value: product&.quantity %>
      </div>

      <div class="form__group">
        <%= form.label :price %>
        <%= form.number_field :price, value: number_to_currency(product&.price.to_f, delimiter: '', unit: ''), step: :any, class: "form__input" %>
      </div>

      <div class="form__group mt-3">
        <%= form.button 'Submit', class: 'btn btn-dark'%>
      </div>
    <% end %>
  <% else %>
    <%= form_with model: @product, url: category_product_path(@category), method: :patch, local: true do |form| %>
      <div class="form__group">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form__input", value: product&.name %>
      </div>

      <div class="form__group">
        <%= form.label :quantity %>
        <%= form.number_field :quantity, class: "form__input", value: product&.quantity %>
      </div>

      <div class="form__group">
        <%= form.label :price %>
        <%= form.number_field :price, value: number_to_currency(product&.price.to_f, delimiter: '', unit: ''), step: :any, class: "form__input" %>
      </div>

      <div class="form__group mt-3">
        <%= form.button 'Submit', class: 'btn btn-dark'%>
      </div>
    <% end %>
  <% end %>
</div>
