<!DOCTYPE html>
<html>
  <head>
    <title>POS Titos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'><link rel="stylesheet" href="./style.css">
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>

    <%= render "shared/navbar" %>
    <%= render "shared/flash" %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <%= render "shared/sidebar" %>
        </div>
        <div class="col-md-10 pt-3 shadow">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
